# Ignore all files with .gguf extension
*.gguf

# Ignore all files with .exe extension
*.exe

# Ignore .env file
.env

# Ignore .db file
*.db

# Ignore .log file
*.log

# Ignore Python byte-compiled files
*.pyc
__pycache__/